@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0% 0px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img{
    width: 300px;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #567FC0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  margin-left: 25px;
  text-decoration: none;
  transition:  all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);;
}
.icon{
  color: #000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  color: #fff;
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #567FC0;
    color:#fff;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 15px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo img{
    width:230px;
  }
}
@media (min-width: 868px) and (max-width : 1600px){
    span {
        position: relative;
        display: block;
        cursor: pointer;
      }
      
      span:before, span:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        top: 50%;
        margin-top: -0.5px;
        background: #DF3235;
      }
      
      span:before {
        left: 10px;
      }
      span:after {
          right: -10px;
        background: #DF3235;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
      span:hover:before {
        background: #DF3235;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      
      span:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img {
    position: absolute;
    width: 666px;
    height: 488px;
    left: 774px;
    top: 150px;
}

.illustration {
    opacity: 0.8;
}

.title {
    position: absolute;
    width: 500px;
    height: 119px;
    left: 55px;
    top: 355px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #000000;
}

.subtitle {
    position: absolute;
    width: 546px;
    height: 51px;
    left: 55px;
    top: 427px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000e5;
}

.desc {
    position: absolute;
    width: 646px;
    height: 239px;
    left: 55px;
    top: 470px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #00000086;
}

.logomain {
    position: absolute;
    width: 268px;
    height: 138px;
    left: 55px;
    top: 207px;
    filter: drop-shadow(0px 4px 4px rgba(122, 118, 118, 0.25));
}

.sec {
    margin-top: 30px;
}

section h1 {
    position: absolute;
    letter-spacing: 3px;
    margin-top: 0;
    top: 12%;
    font-size: 36px;
    color: #5185EB;
}

#arrow {
    margin-left: 50%;
    opacity: 0.5;
}

.cont {
    margin-top: 15px;
    position: absolute;
    font-style: normal;
    width: 35%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0000006c;
}

.socials {
    width: 100%;
    height: 30vh;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
}

footer a img {
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
}